#MessageSpace{
    text-decoration: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
    color: #0E0D35;
    margin-bottom: 2em;
}

#infoWithLink{
    display: flex;
}

@media (min-width: 900px) {
    #MessageSpace{
        text-decoration: none;
        font-family: "Poppins", system-ui;
        font-style: normal;
        color: #0E0D35;
        margin-bottom: 2em;
    }

    #infoWithLink{
        display: flex;
    }
}